@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

img {
    margin-bottom: 2.1rem;
}

h1 {
    text-transform: uppercase;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.6rem;
    color: $very-light-gray;
    margin-bottom: 1.8rem;
}

p {
    font-family: "Lexend Deca", sans-serif;
    color: $transparent-white;
    margin-bottom: 1.6rem;
    line-height: 1.7rem;
}

button {
    border: 2px solid white;
    border-radius: 2rem;
    padding: 0.9rem 2rem;
    transition: all 0.2s ease;
}

.parent {
    width: 87vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card {
    padding: 3.2rem 3.3rem;
}

.card1 {
    margin-top: 6rem;
    background-color: $bright-orange;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    button  {
        color: $bright-orange;
    }
    button:hover  {
        color: white;
        background-color: transparent;
        border: 2px solid $transparent-white;
    }
}

.card2 {
    background-color: $dark-cyan;

    button  {
        color: $dark-cyan;
    }
    button:hover  {
        color: white;
        background-color: transparent;
        border: 2px solid $transparent-white;
    }
}

.card3 {
    background-color: $very-dark-cyan;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    button  {
        color: $very-dark-cyan;
    }
    button:hover  {
        color: white;
        background-color: transparent;
        border: 2px solid $transparent-white;
    }
}

